.wrapper
  .header
    .header__box
      .header__box__upper
      %font{:face => "arial black"}
        = link_to "ZAIKO","/", class: "broccoli"
        .header__box__upper__search
          = form_with(url: search_posts_path, local: true, method: :get, class: "header__box__upper__search--input") do |f|
            = f.text_field :keyword, placeholder: " キーワードから探す", class: "header__box__upper__search--input"
            %button{type: "submit", class: 'header__box__upper__search--btn'} 
              = icon('fas', 'search', class: 'search-icon')
            %form{content:"accept-charset = UTF-8", action: "#", method: "get"}
            %input{name: "utf8", type: "hidden", value: "✓"}/
      .header__box__navi
        .header__box__navi__right
      .header__box__upper__title-icon
      %table.title-class__left{:border => "1"}
        - @residents.each do |resident|
          %tr
            %th 入居者情報
            %td 
              = link_to "#{resident.name}","/residents/#{resident.id}"
      = link_to "入居者の登録","/residents/new"
  .pickup
    .pickup-container
      .pickup-container__box
        .pickup-container__box__head
        .pickup-container__box__lists
