= form_with( model: @resident, url: residents_path,local: true) do |f|
  .exhibit__main__itemProfile__inputForm__sellGoods
    .exhibit__main__itemProfile__inputForm__sellGoods__name
      .notation
        入居者名
    = f.text_field :name, class: "exhibitInput"
  .input__rentday__select
    .input__rentday__select__year 
      入居開始日（起算日）
      = f.date_select :rent_date,{:use_month_numbers => true,:start_year => 2000,:end_year => 2040}
  .input__rentday__select
    .input__rentday__select__year 
      退去日または締め日
      = f.date_select :move_date,{:use_month_numbers => true,:start_year => 2000,:end_year => 2040}
  .exhibit__main__itemProfile__inputForm__delivery__formBox__burden
    .exhibit__main__itemProfile__inputForm__delivery__formBox__burden__select
      .notation
        家賃収入(1ヶ月あたり)
    = f.text_field :income, class: "exhibitInput"
    = f.collection_select :post_id, Post.all, :id, :name, { prompt: "選択してください" }, class: "exhibitInput"
  = f.submit :登録する ,class: "exhibitSubmit1"
  = link_to "/", class: "exhibitSubmit2" do
    もどる
  %br (※日付けを空欄にすると購入日=入居日、売却日=退去日とすることができます。)