.wrapper
  .header
    .header__box
      .header__box__title
      %font{:face => "arial black"}
        = link_to "ZAIKO","/", class: "broccoli"
        
.main-blok
  .title-class
  %table.title-class__left{:border => "1"}
    %tr
      %th 物件名
      %td 
        = @resident.post.name
    %tr
      %th 入居者情報
      %td 
        = @resident.name
    %tr
      %th 起算日
      %td
        - if @rent_y_m_d
          = @rent_y_m_d.strftime("%Y年 %m月%d日")
        - else
          - day = Date.today
          - str = day.strftime("%Y年 %m月%d日")
          = str
    %tr
      %th 締め日
      %td
        - if @move_y_m_d
          = @move_y_m_d.strftime("%Y年 %m月%d日")
        - else
          - day = Date.today
          - str = day.strftime("%Y年 %m月%d日")
          = str
    %tr
      %th 家賃
      %td
        = convertToJPY(@resident.income)
        円
    %tr
      %th #{@resident.name}から頂いた総家賃
      %td
        = convertToJPY(@income)
        円

.show-submit-btn
  = link_to "編集", edit_resident_path(@resident.id), class: "submit-btn-edit",method: :get
  = link_to "削除", "/residents/#{@resident.id}", class: "submit-btn-delete",method: :delete
.footer
  %ul.footer__contents
    %li.footer__contents__content
      .footer__contents__content__name
        ZAIKOについて
      = link_to "#", class:"kaisya" do
        会社概要
      = link_to "#", class:"privacy" do
        プライバシーポリシー
      = link_to "#", class:"kiyaku" do
        利用規約
    %li.footer__contents__content
      .footer__contents__content__name
        自社物件を見る
      = link_to "#", class:"category" do
        カテゴリー一覧
      = link_to "#", class:"bland" do
        ブランド一覧
    %li.footer__contents__content
      .footer__contents__content__name
        ヘルプ&ガイド
      = link_to "#", class:"guide" do
        ガイド
      = link_to "#", class:"guideline" do
        ガイドライン
      = link_to "#", class:"info" do
        お知らせ
  .copyright
    © ZAIKO
  