.wrapper
  .header
    .header__box
      .header__box__upper
      %font{:face => "arial black"}
        = link_to "ZAIKO","/", class: "broccoli"
        .header__box__upper__search
          = form_with(url: search_posts_path, local: true, method: :get, class: "header__box__upper__search--input") do |f|
            = f.text_field :keyword, placeholder: " キーワードから探す", class: "header__box__upper__search--input"
            %button{type: "submit", class: 'header__box__upper__search--btn'} 
              = icon('fas', 'search', class: 'search-icon')
            %form{content:"accept-charset = UTF-8", action: "#", method: "get"}
            %input{name: "utf8", type: "hidden", value: "✓"}/
      .header__box__navi
        .header__box__navi__right
          - if user_signed_in?
            %font{:face => "arial black"}
              = link_to "ログアウト", "/users/sign_out", class:"header__box__navi__right__mypage",method: :delete
          - else
            %font{:face => "arial black"}
              =link_to "ログイン","/users/sign_in", class:"header__box__navi__right__login" 
              =link_to "新規登録","/users/sign_up", class:"header__box__navi__right__new", data:{"turbolinks" => false}
      .header__box__upper__title-icon
        = link_to root_path, data:{"turbolinks" => false} do
          =image_tag asset_path("3175447_m.jpg"), size: "640x427", class: "header-image"
  .main
    .pickup
      .pickup-container
        .pickup-container__head
          %font{:face => "arial black"}
            キーワード検索
        .pickup-container__product-box
          .pickup-container__product-box__product-head
            %font{:face => "arial black"}
            検索結果
            
        .pickup-container__box__lists
          = render @posts

  .footer
    %ul.footer__contents
      %li.footer__contents__content
        .footer__contents__content__name
          ZAIKOについて
        = link_to "#", class:"kaisya" do
          会社概要
        = link_to "#", class:"privacy" do
          プライバシーポリシー
        = link_to "#", class:"kiyaku" do
          利用規約
      %li.footer__contents__content
        .footer__contents__content__name
          自社物件を見る
        = link_to "#", class:"category" do
          カテゴリー一覧
        = link_to "#", class:"bland" do
          ブランド一覧
      %li.footer__contents__content
        .footer__contents__content__name
          ヘルプ&ガイド
        = link_to "#", class:"guide" do
          ガイド
        = link_to "#", class:"guideline" do
          ガイドライン
        = link_to "#", class:"info" do
          お知らせ
    -# =image_tag asset_path("logo-white.png"), class: "footer__logo"
    .copyright
      © ZAIKO

- if user_signed_in? 
  .exhibition-btn
    =link_to "/posts/new", data:{"turbolinks" => false} do
      .exhibition-btn__text
        
      .exhibition-btn__image
        %i.far.fa-arrow-alt-circle-down.fa-5x




  



-# .wrapper
-#   = render "shared/header"
-#   .main
-#     .pickup
-#       .pickup-container
-#         .pickup-container__head
-#           キーワード検索
-#         .pickup-container__product-box
-#           .pickup-container__product-box__product-head
-#             = link_to "#", class: "line" do
-#               検索結果
-#         .pickup-container__product-box__product-lists
-#           = render @items
-#   = render "shared/appBanner"
-#   = render "shared/footer"