.wrapper
  .header
    .header__box
      .header__box__title
      %font{:face => "arial black"}
        = link_to "ZAIKO","/", class: "broccoli"
        
.main-blok
  .title-class
    %table.title-class__name{:border => "1"}
      %tr
        %th.item-name 物件名
        %td.item-name
          = @post.name
  .main-blok__content
    .main-blok__content__left
      %table.title-class__left{:border => "1"}
        %tr
          %th 購入日（決済日）
          %td
            = @post.str_date.strftime("%Y年 %m月%d日")
            
        %tr
          %th 物件の説明（取得経緯など）
          %td.text-content
            = @post.explanation
        %tr
          %th 購入金額
          %td
            = convertToJPY(@post.buy)
            円
        %tr
          %th 固定資産税評価額(※1)
          %td
            = convertToJPY(@temporary_values)
            円
        %tr
          %th 借入金額
          %td
            = convertToJPY(@post.borrowing)
            円
        %tr
          %th 仲介手数料（購入時）
          %td
            = convertToJPY(@brokerage_fee_buy)
            円
        %tr
          %th 登記費用　　　　(※2)
          %td 
            = convertToJPY(@registration_fee)
            円
        %tr
          %th 不動産取得税　　(※3)
          %td 
            = convertToJPY(@acquisition_tax)
            円
        %tr
          %th 固定資産税　　　(※4)
          %td 
            = convertToJPY(@property_tax)
            円
        %tr
          %th 印紙代（購入時）
          %td 
            = convertToJPY(@post.buy_stamp_cost)
            円
        %tr
          %th 管理費（マンション）
          %td 
            = convertToJPY(@m_management_fee)
            円
        %tr
          %th 修繕積立金（マンション）
          %td 
            = convertToJPY(@m_repair_fund)
            円
        %tr
          %th 修繕費
          %td 
            = convertToJPY(@post.repair_cost)
            円
        %tr
          %th 金利支払い合計
          %td 
            = convertToJPY(@interest_rate)
            円
        %tr
          %th 入居付け
          %td 
            = convertToJPY(@post.rent_cost)
            円
        %tr
          %th 銀行事務手数料
          %td 
            = convertToJPY(@post.banking_fee)
            円
        %tr
          %th 管理費
          %td 
            = convertToJPY(@management_fee)
            円
        %tr
          %th 火災保険
          %td 
            = convertToJPY(@post.fire_insurance/365*@sa.to_i)
            円
        %tr
          %th 測量費用
          %td 
            = convertToJPY(@post.surveying_cost)
            円
        %tr
          %th その他経費
          %td 
            = convertToJPY(@post.other_cost)
            円
        %tr
          %th 総原価
          %td
            = convertToJPY(@total_costs)
            円
        %tr
          %th 売却益
          %td 
            = convertToJPY(@profit)
            円
        %tr
          %th 総利益（売却益＋家賃収入）
          %td 
            - @sum_income = @arry.sum
            = convertToJPY(@profit.to_i + @sum_income.to_i)
            円
      (※１　入力がない場合は購入価格の80%としております。)
      %br 
      (※２　固定資産税評価額×2%+5万円(司法書士報酬)で計算。)
      %br 
      (※３　固定資産税評価額×1.4%で計算。)
      %br 
      (※４　(評価額×0.6×0.3%) + (評価額×0.4×1.4%) で計算。)
    .main-blok__content__right
      %table.title-class__right{:border => "1"}
        %tr
          %th 売却日（決済日）
          %td
            = @post.fin_date.strftime("%Y年 %m月%d日")
        %tr
          %th 売却金額
          %td
            = convertToJPY(@post.sell)
            円
        %tr
          %th 仲介手数料（売却時）
          %td
            = convertToJPY(@brokerage_fee_sell)
            円
        %tr
          %th 印紙代（売却時）
          %td
            = @post.sell_stamp_cost
            円
        %tr
          %th 売上
          %td
            = convertToJPY(@post.sell)
            円
        %tr
          %th 保有期間
          %td
            = @sa.to_i
            日
      
      .residents
        %h4 ＜入居者一覧＞
        - if @residents
          - @residents.each do |resident|
            .main-blok
              .title-class
              %table.title-class__left{:border => "1"}
                %tr
                  %th 入居者名
                  %td 
                    = resident.name
                %tr
                  %th 起算日
                  %td
                    - @name = resident.name
                    - @income = resident.income
                    - @day_rent = resident.rent_date
                    - @day_move = resident.move_date
                    - @day_buy = @post.str_date
                    - @day_sell = @post.fin_date
                    - @today = Date.today

                    - if @day_rent >= @day_buy # 起算日の決定
                      = @day_rent.strftime("%Y年 %m月%d日")
                    - elsif @day_rent <= @day_buy
                      = @day_buy.strftime("%Y年 %m月%d日")
                    - else
                      = @today.strftime("%Y年 %m月%d日")
                %tr
                  %th 締め日
                  %td
                    - if @day_move <= @day_sell # 締め日の決定
                      = @day_move.strftime("%Y年 %m月%d日")
                    - elsif @day_move >= @day_sell
                      = @day_sell.strftime("%Y年 %m月%d日")
                    - else
                      = @today.strftime("%Y年 %m月%d日")
                %tr
                  %th 家賃
                  %td
                    = convertToJPY(resident.income)
                    円
                %tr
                  %th #{resident.name}から頂いた総家賃
                  %td
                    - if @day_rent >= @day_buy && @day_move >= @day_sell # 退去日 - 入居日
                      -  sa = @day_sell - @day_rent
                      -  @subtotal = @income * 12 / 365 * sa.to_i
                      -  @arry << @subtotal
                      = convertToJPY(@subtotal)
                      円
                    - elsif @day_rent <= @day_buy && @day_move >= @day_sell # 退去日 - 購入日
                      -  sa = @day_move - @day_buy
                      -  @subtotal = @income * 12 / 365 * sa.to_i
                      -  @arry << @subtotal
                      = convertToJPY(@subtotal)
                      円
                    - elsif @day_move <= @day_sell && @day_rent >= @day_buy # 売却日 - 入居日
                      -  sa = @day_sell - @day_rent
                      -  @subtotal = @income * 12 / 365 * sa.to_i
                      -  @arry << @subtotal
                      = convertToJPY(@subtotal)
                      円
                    - elsif @day_move <= @day_sell && @day_rent <= @day_buy  # 売却日 - 購入日
                      -  sa = @day_sell - @day_buy
                      -  @subtotal = @income * 12 / 365 * sa.to_i
                      -  @arry << @subtotal
                      = convertToJPY(@subtotal)
                      円
                    - else
                      -  @subtotal = 0
                      -  @arry << @subtotal
                      = convertToJPY(@subtotal)
                      円
.show-submit-btn
  = link_to "編集", "/posts/#{@post.id}/edit", class: "submit-btn-edit"
  = link_to "削除", "/posts/#{@post.id}", class: "submit-btn-delete",method: :delete
.footer
  %ul.footer__contents
    %li.footer__contents__content
      .footer__contents__content__name
        ZAIKOについて
      = link_to "#", class:"kaisya" do
        会社概要
      = link_to "#", class:"privacy" do
        プライバシーポリシー
      = link_to "#", class:"kiyaku" do
        利用規約
    %li.footer__contents__content
      .footer__contents__content__name
        自社物件を見る
      = link_to "#", class:"category" do
        カテゴリー一覧
      = link_to "#", class:"bland" do
        ブランド一覧
    %li.footer__contents__content
      .footer__contents__content__name
        ヘルプ&ガイド
      = link_to "#", class:"guide" do
        ガイド
      = link_to "#", class:"guideline" do
        ガイドライン
      = link_to "#", class:"info" do
        お知らせ
  .copyright
    © ZAIKO

